@media screen and (min-width: 700px) {
    #menu {
        display: none;
    }

    #nav {
        display: block;
        text-align: center;
    }

    #nav li {
        display: inline;
    }

    #nav li:hover {
        background-color: rgb(31, 71, 122);
        text-decoration: underline;
    }

    #cards-containter {
        width: 400px;
        max-width: 65vw;
        margin: 0 auto;
    }

    #nav a {
        padding: 1.5vw;
        font-size: 1.3rem;
        width: auto;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }
}